<div id="div-form">
  <h1>{{editar? 'Alterar' : 'Cadastrar'}} Corrida </h1>

  <form id="form-atleta" (submit)="dadosFormulario()">
      <label for="descricao">Descrição</label>
      <textarea  [(ngModel)]="descricao"  name="descricao" id="descricao" cols="30" placeholder="Descreva a Corrida" rows="10"></textarea>

      <label for="data">Data De Corrida</label>
      <input [(ngModel)]="data" type="date" name="data" id="data" required>

      <label for="distancia">Distância</label>
      <input [(ngModel)]="distancia5km" type="checkbox" name="5km" id="distancia" class="btnSelecao" value="5"> 5km
      <input [(ngModel)]="distancia10km" type="checkbox" name="10km" id="distancia" class="btnSelecao" value="10"> 10km
      <input [(ngModel)]="distancia25km" type="checkbox" name="25km" id="distancia" class="btnSelecao" value="25" > 25km

      <div id="div-btns">
          <button type="submit" id="btnAdd">{{editar? 'Alterar': 'Cadastrar' }} Corrida</button>
      </div>

  </form>
</div>
