form{
  width: 100%;
  max-width: 1000px;
  height: 100%;
  min-height: 650px;
  margin: 20px auto;
  padding: 25px;
}

h1{
  margin: 20px 0px 35px 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.8em;
}

input[type=checkbox]{
  width: 100%;
  max-width: 25px;
  height: 100%;
  max-height: 25px;
  margin: 0px 10px;

}

textarea{
  padding: 10px;
  width: 100%;
  max-width: 650px;
  height: 100%;
  max-height: 50px;
  margin: 0px 10px;
  resize: none;
  border-radius: 10px;
  margin: 5px;
  border-top: none;
  border-left: none;
  border-color: 10px solid var(--cor-principal);
  font-size: 14px;

}

label{
  display: block;
  margin: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

input{
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: var(--cor-principal);
  box-sizing: border-box;
  width: 100%;
  max-width: 650px;
  margin: 5px;
}

#let{
  display: flex;
  align-items: center;
  justify-content: center;
}


button{
  width: 100%;
  height: 25px;
  max-width: 200px;
  max-height: 25px;
  cursor: pointer;
  border: none;
  margin: 10px;
  background-color: var(--cor-principal);
  border-radius: 10px;
  color: var(--of);
  margin: 50px;
}

button:hover{
  opacity: 0.5;
}







