<div id="corrida">

  <form id="form" (submit)="salvarCorrida()">

    <h1>Cadastro de Corridas</h1>

   <label for="descricao">Descrição da Corrida</label>
   <textarea name="descricao" id="descricao" cols="30" rows="10" required placeholder="EX:5° Maratona Noturna da Cidade" [(ngModel)]="descricao"></textarea>

   <label for="data">Data da Corrida</label>
   <input type="date" name="data" id="data" required [(ngModel)]="data">

   <label for="distancia">Distância Disponíveis</label>
   <input type="checkbox" name="km" id="km" class="chec" value="Dis" [(ngModel)]="distancia">5km
   <input type="checkbox" name="km" id="km" class="chec" value="Dis" [(ngModel)]="distancia">15km
   <input type="checkbox" name="km" id="km" class="chec" value="Dis" [(ngModel)]="distancia">25km


   <div id="let">
     <button type="submit" id="btn-let">Let's Go Run</button>

   </div>


  </form>

</div>
