
<header id="cabecalho">

  <div id="logo">
     <span id="titulo">Esport</span>ArLivre
  </div>

  <nav id="menu">
    <ul id="menu-ul">

      <li><a routerLink="/home"  class="lnk-menu">Home</a></li>
      <li><a routerLink="/cadastroatleta"  class="lnk-menu">Cadastrar Atleta</a></li>
      <li><a routerLink="/listaatleta"  class="lnk-menu">Tabela de Atletas</a></li>
      <li><a routerLink="/cadastrocorrida"  class="lnk-menu">Cadastrar Corrida</a></li>
      <li><a routerLink="/cadastroTabela"  class="lnk-menu">Tabela de Corridas</a></li>
      <li><a routerLink="/"  class="lnk-menu">Inscrições</a></li>


    </ul>
  </nav>
</header>

