<div id="div-form">
  <h1>Inscrições</h1>

  <form id="form-atleta" (submit)="salvarInscricao()">

    <label for="atletas" >Atletas</label>
    <select id="atletas" [(ngModel)]="atleta" name="atleta">
      <option value="" disabled selected>Selecione Um Atleta</option>

      @for (item of atletas; track item.id) {
        <option [value]="item.nome">{{ item.nome }}</option>
      }
    </select>

    <label for="corrida">Corridas</label>
<select id="corrida" [(ngModel)]="corrida" name="corrida">
  <option value="" disabled selected>Selecione A Corrida</option>

  @for (item of corridas; track item.id) {
    <option [value]="item.descricao_corrida">{{ item.descricao_corrida }}</option>
  }
</select>

    <label for="Tamanho">Tamanho de Camisas(kit)</label>
    <select name="Tamanho" id="Tamanho" [(ngModel)]="tamanho">
      <option value="" disabled>Selecione o Tamanho</option>
      <option value="P">P</option>
      <option value="M">M</option>
      <option value="G">G</option>
      <option value="GG">GG</option>

    </select>

    <label for="categoria">Categoria/Faixa Etária</label>

    <select [(ngModel)]="categoria" name="categoria" required id="categoria">
      <option value="" disabled>Selecione a Categoria</option>
    <option value="M 17 á 30">Masculino entre 17 á 30</option>
    <option value="M 31 á 45">Masculino entre 31 á 45</option>
    <option value="M 46 á 60+">Masculino entre 46 á 60+</option>
    <option value="F 17 á 30">Feminino entre 17 á 30</option>
    <option value="F 31 á 45">Feminino entre 31 á 45</option>
    <option value="F 46 á 60+">Feminino entre 46 á 60+</option>


  </select>


    <label for="distancia">Distância</label>
    <input [(ngModel)]="distancia" type="radio" name="5km" id="distancia" class="btnSelecao" value="5" /> 5km
    <input [(ngModel)]="distancia" type="radio" name="10km" id="distancia" class="btnSelecao" value="10" /> 10km
    <input [(ngModel)]="distancia" type="radio" name="25km" id="distancia" class="btnSelecao" value="25" /> 25km

    <label for="valor" id="valor">Valor Da Inscrição: <span>R$ 250</span></label>

    <div id="termos">
    <input type="checkbox" id="termos" /> Li e estou de acordo com os termos do regulamento da prova e
    declaração de saúde
    </div>
    <div id="div-btns">
      <button type="submit" id="btnAdd">Finalizar Inscrição e Ir Para o Pagamento</button>
    </div>
  </form>
</div>
