*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

:root{
  --cor-principal:#22009c;
  --cor-secundaria:#00c3ff;
  --cor-terciaria:#126e12;
  --of:#ffff;
  --hover-link:#dcb2ff;
  --remover:#ff0000;



}

body {
  height: 100%;
  margin: 0;
}



/* Opcional: faz o conteúdo principal ocupar o espaço restante */
main {
  flex: 1;
}

footer {
  margin-top: auto;
}

#pe{
  margin: 100px 0px 0px 0px ;
  height: 100%;
  min-height: 150px;
  background-color: var(--cor-principal);
  color: var(--of);
}

ul{
  text-align: center;
  margin: x;
}
